

    body {
        width: 100%;
        margin: 0;
    }
    
    .container {
        width: 90%;
        margin: auto;
    }
    
    .nav_bar {
        display: flex;  
    }
    
    .nav_baby {
        width: 96%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .links a {
        color: black;
        font-size: 14.5px;
        margin-left: 50px;
        text-decoration: none;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
        border: 2px solid red;
    }
    
    .links {
        list-style: none;
        border: 2px solid red;
    }
    
    .busca {
        margin-left: 60px;
        border: 2px solid red;
        width: 15px;
    }
    
    .header {
        width: 90vw;
        border: 2px solid yellowgreen;
    }
    
    .max {
        margin-top: 12px;
        width: 219px;
        border: 1px solid red;
    }
    
    .team {
        margin-top: 30px;
        width: 90vw;
        border: 1px solid red;
    }
    
    /* OUR TEAM MEMBERS SECTION */
        
    .Our_Team_Members {
        margin-top: 100px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border: 1px solid red;
        display: flex;
        flex-wrap: wrap;
    }

    .team_member {
        margin: auto;
    }
    
    .team_members {
        border: 1px solid red;
    }

    .pix {
        width: 70vw;
        border: 1px solid red;
    }
    
    /* CONNECT SECTION */
    
    .connect {
        color: white;
        background: #052844;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 18vh;
        font-size: 14px;
        font-family:Arial, Helvetica, sans-serif;
        margin-left: -63px;
        margin-right: -63px;
    }
    
    .connect h4 {
        margin-bottom: -8px;
    }
    
    .connect p {
        color: #afafaf;
    }
    
    /* CONTACT SECTION */
    
    .contact {
        color: white;
        background: #000911;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left: -63px;
        margin-right: -63px;
    }
    
    .con_container {
        padding-top: 30px;
        display: flex;
        justify-content: space-around;
    }
    
    .superior {
        margin-top: 10px;
        font-size: 12px;
    }
    
    .superior img {
        margin-bottom: -8px;
        width: 190px;
    }
    
    .website {
        color: grey;
        margin-top: -7px;
    }
    
    .address_title {
        font-size: 14px;
    }
    
    .office_address {
        font-size: 12px;
        color: grey;
        margin-top: -6px;
    }
    
    .links_title {
        font-size: 12px;
        margin-bottom: -8px;
    }
    
    ul li {
        list-style: none;
        font-size: 12px;
        margin-bottom: 7px;
        margin-left: -40px;
    }
    
    ul a {
        text-decoration: none;
        color: grey;
    }
    
    .media_title {
        font-size: 13px;
        margin-bottom: 7px;
    }
    
    .media_icons img {
        margin-right: 5px;
    }
    
    /* FOOTER SECTION */
    
    .footer {
        text-align: center;
        background: #000911;
        color: grey;
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 1px;
        margin-left: -63px;
        margin-right: -63px;
    }
    
    .footer p {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 40px;
        margin-bottom: 7px;
        text-align: center;
    }
    
    .footer img {
        float: right;
        width: 13%;
        height: 21px;
        margin-top: -20px;
    }
    